 QFileDialog {
     background-color: #2b2b2b;
     color: #ffffff;
 }

 QFileDialog QLabel {
     color: #ffffff;
 }

 QFileDialog QPushButton {
     background-color: #3c3f41;
     color: #ffffff;
 }

 QMainWindow {
     background-color: #2b2b2b;
     /* color: #ffffff;*/
 }

 QLabel,
 QTreeWidget,
 QMenuBar,
 QMenu,
 QAction,
 QPushButton {
     color: #ffffff;
 }

 QTreeWidget {
     background-color: #3c3f41;
 }

 QHeaderView::section {
     background-color: #4b4b4b;
     color: #ffffff;
 }

 QTabBar::tab {
     background: #3c3f41;
     color: #ffffff;
     padding: 5px;
 }

 QTabBar::tab:selected {
     background: #505357;
 }

 QSplitter::handle {
     background-color: rgba(0, 0, 0, 20%);
 }

 QSplitter::handle:hover {
     background-color: #4020FF;
 }

 QTextEdit {
     background-color: #3c3f41;
     color: #ffffff;
 }

 QScrollBar {
     background-color: #2b2b2b;
 }

 QScrollBar::handle {
     background-color: #505357;
 }

 QScrollBar::handle:hover {
     background-color: #4020FF;
 }

 QMenuBar {
     background-color: #2b2b2b;
 }

 QMenu {
     background-color: #3c3f41;
 }

 QMenu::item:selected {
     background-color: #4020FF;
 }

 QTabWidget::pane {
     border-top: 2px solid #dedede;
 }

 QFileSystemModel {
     background-color: #3c3f41;
     color: #ffffff;
 }

 QTreeView {
     background-color: #3c3f41;
     color: #ffffff;
 }

 QMenuBar::item:selected {
     background: #dedede;
     color: #000;
 }

 QSplitter::handle {
     background-color: rgba(0, 0, 0, 20%);
 }

 QSplitter::handle:hover {
     width: 8px;
     background-color: #4020FF;
 }
